PORT=4000
DATABASE_URL=postgresql://postgres:123123@localhost:5432/conformalguard_dev
CORS_ORIGIN=http://localhost:3000

JWT_SECRET=cd4baca7035fe3b14b0e4ff87f25d75d899e56ca4ac25f2da97af15e2e3047aa

BREVO_API_KEY=BREVO_API_KEY
BREVO_SENDER_EMAIL=testingground1227@gmail.com
BREVO_SENDER_NAME=ConformalGuard
APP_URL=http://localhost:3000
RESET_RATE_LIMIT_SECONDS=60

